<!DOCTYPE html>
<html>
  {% include 'partials/head'%}
  <body>
    <header>
      <h1>{{ message }}</h1>
    </header>
    <main>
    <section>
      <section>
        <form class="stationSearch" action="/" method="get">
          <input type="search" name="q" placeholder="Zoek..." value="{{ q }}">
          <button type="submit">Zoek</button>
        </form>
    </section>
    <section class="listOfStations">
      <ul class="sign">
        {% for station in stationData.payload %}
          <a href="station/{{ station.code }}?name={{ station.namen.lang | url_encode }}">
            <li class="sign-text">{{ station.namen.lang }}</li>
          </a>
        {% endfor %}
      </ul>
    </section>
    </main>
    {% include 'partials/footer'%}
    <script>
      fetch('/script.js')
        .then(response => response.text())
        .then(scriptContent => {
          eval(scriptContent);
    
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
              console.log('Service Worker registered with scope:', registration.scope);
            }).catch(function(error) {
              console.log('Service Worker registration failed:', error);
            });
          }
        })
        .catch(error => console.error('Failed to load script.js', error));
    </script>
    
  </body>
</html>