<!DOCTYPE html>
<html lang="nl">
  {% include 'partials/head'%}
  <body>
    <header>
      <h1 class="stationName">{{ stationName }}</h1>
      <h2 id="huidigeTijd"></h2>
    </header>
    <main>
    <section>
      <ul class="trainTimes">
        <li class="trainTimesTitles">
          <p>Vertrek</p>
          <p>Naar</p>
          <p>Spoor</p>
          <p>Trein</p>
        </li>
        {% for train in times %}
          <li>
            <a href="traindetails/{{ train.product.number }}">
            <p class="trainDepartureTime">{{ train.actualDateTime | date: "%H:%M", "Europe/Amsterdam" }}</p>
              <div class="trainInformation">
                <p class="trainTo">{{ train.direction }}</p>
                <p class="trainRoute">
                  {%  for station in train.routeStations %}
                    {% if forloop.first %}
                      Via 
                    {% endif %}
                    {% if forloop.last %}
                      {{ station.mediumName }}
                    {% else %}
                      {{ station.mediumName }},
                    {% endif %}
                  {%  endfor %}
                  </p>
                  <p class="message">
                    {% for message in train.messages %}
                      {{ message.message }}
                    {% endfor %}
                  </p>
              </div>
              <div class="trainTrack">
                {% assign trackChars = train.actualTrack | split: '' %}
                {% assign letters = '' %}
                {% for char in trackChars %}
                    {% if char >= 'a' and char <= 'z' or char >= 'A' and char <= 'Z' %}
                        {% capture letters %}{{ letters }}{{ char }}{% endcapture %}
                    {% endif %}
                {% endfor %}
                <p>{{ train.actualTrack | replace: letters, '' }}</p>
                <p class="trainTrackLetters">{{ letters }}</p>
              </div>
              <p>{{ train.product.longCategoryName }}</p>
            </a>
          </li>
        {% endfor %}
    </ul>
    </section>
    </main>
    {% include 'partials/footer'%}
    <script src="/script.js"></script>
  </body>
</html>