<!DOCTYPE html>
<html lang="nl">
  {% include 'partials/head'%}
  <body>
    <header>
      <h1 class="stationName">{{ stationName }}</h1>
      <h2 id="huidigeTijd"></h2>
      <form action="/station/{{ stationCode }}" method="get">
        <button id="likeButton" type="submit" name="likedStatus" value={{ likedStatus }}>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812T2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.387 2.25t-1.363 2.412t-2.625 2.963T13.45 19.7zm0-2.7q2.4-2.15 3.95-3.687t2.45-2.675t1.25-2.026T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2.175.662T12.95 7h-1.9q-.375-1.025-1.375-1.687T7.5 4.65q-1.5 0-2.5 1t-1 2.5q0 .875.35 1.763t1.25 2.025t2.45 2.675T12 18.3m0-6.825" />
            </svg>
        </button>
      </form>
    </header>
    <main>
    <section>
      <ul class="trainTimes">
        <li class="trainTimesTitles">
          <p>Vertrek</p>
          <p>Naar</p>
          <p>Spoor</p>
          <p>Trein</p>
        </li>
        {% for train in times %}
          <li>
            <a href="traindetails/{{ train.product.number }}">
            <p class="trainDepartureTime">{{ train.actualDateTime | date: "%H:%M", "Europe/Amsterdam" }}</p>
              <div class="trainInformation">
                <p class="trainTo">{{ train.direction }}</p>
                <p class="trainRoute">
                  {%  for station in train.routeStations %}
                    {% if forloop.first %}
                      Via 
                    {% endif %}
                    {% if forloop.last %}
                      {{ station.mediumName }}
                    {% else %}
                      {{ station.mediumName }},
                    {% endif %}
                  {%  endfor %}
                  </p>
                  <p class="message">
                    {% for message in train.messages %}
                      {{ message.message }}
                    {% endfor %}
                  </p>
              </div>
              <div class="trainTrack">
                {% assign trackChars = train.actualTrack | split: '' %}
                {% assign letters = '' %}
                {% for char in trackChars %}
                    {% if char >= 'a' and char <= 'z' or char >= 'A' and char <= 'Z' %}
                        {% capture letters %}{{ letters }}{{ char }}{% endcapture %}
                    {% endif %}
                {% endfor %}
                <p>{{ train.actualTrack | replace: letters, '' }}</p>
                <p class="trainTrackLetters">{{ letters }}</p>
              </div>
              <p>{{ train.product.longCategoryName }}</p>
            </a>
          </li>
        {% endfor %}
    </ul>
    </section>
    </main>
    {% include 'partials/footer'%}
    <script src="/script.js"></script>
  </body>
</html>